<% if logged_in? %>
    <script type="text/javascript">
        window.currentUser = <%= render(
            "api/users/user.json.jbuilder",
            user: current_user
        ).html_safe %>
    </script>
<% end %>
<script>
    window.images = {
        oil: "<%=asset_path('oil.jpg')%>",
    }
</script>
<div id="root"></div>