#search-wrap{
  position: fixed;
  right: 0;
  overflow: hidden;
  background: white;
  box-sizing: border-box;
  height: 100%;
  width: 400px;
  z-index: 6;
  opacity: 1;

  animation: cart-slide 0.3s ease-in-out

}
.search-form-wrap{
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  height:80%;
  // border:1px solid green;
}

.search-bar{
  // margin-top: 50%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
}

.search-bar-input{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color:white;
  height: 50px;
  font-size: 130%;
}

.no-outline:focus {
  outline: none;
}

.search-results{
  margin-left: 5%;
  margin-right: 5%;
}

.searched-item-container{
  // padding-bottom:2%;
}

.search-link{
  text-decoration: none;
}

.searched-item{
  font-size: 17px;
  letter-spacing: 1px;
  color: rgb(67, 66, 66);
  // color: black;
  // padding: 10px 0px;
  // padding-bottom: 3px;
  -webkit-animation: fadeText 2s;
  -moz-animation: fadeText 2s; /* Firefox < 16 */
  -ms-animation: fadeText 2s; /* Internet Explorer */
  -o-animation: fadeText 2s; /* Opera < 12.1 */
      animation: fadeText 2s;
}

.searched-item:after{
  content: '';
  width: 0%; height: 1px;
  display: block;
  margin-top: 2px;
  right: 0;
  background: black;
  transition: width .1s ease;
  -webkit-transition: width .5s ease;
}
 
.searched-item:hover:after{
  width: 100%;
  left: 0;
  background: black;
}