// Place all the styles related to the api/carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.out-most-cart-wrap{
  position: absolute;
//   top: 0;
//   bottom:0;
//   left: 0;
  right: 0;
  overflow: hidden;
//   margin:auto;
  background: white;
  box-sizing: border-box;
  height: 100%;
//   width: 100vw;
  width: 400px;
  z-index: 900;

  animation: cart-slide 0.5s ease-in-out
}

.cart-product-pic{
    width: 500px;
    height: 500px;
}