// Place all the styles related to the CartItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cart-product-outer-wrap{
    border:1px solid pink;
    padding: 15px
}

.indivi-cart-product-wrap{
    display: flex;
}

.cart-product-pic img{
    width: 90px;
    height: 120px;
}


.cart-product-updating {
    border: 1px solid lightgrey;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35%;
    font-size: 15px;
}

.cart-product-updating button{
    border: none;
    font-size: 15px;
    width:100%
}

#curr-quantity{
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}