// Place all the styles related to the CartItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.indivi-cart-product-wrap{
    border:1px solid pink;
}

.cart-product-pic img{
    width: 90px;
    height: 120px;
}