// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.close-x-div-cart{
    position: absolute;
    padding-left: 7px;
    padding-top: 7px;
    // right:0;
    right: 20px
}

.close-x-cart{
    font-size: 25px;
    width: 100px;
    height: 100px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 1px;
    border-radius: 50%;
    color:black
}

.close-x-cart:hover{
    background-color: lightgrey;
    cursor: pointer;
}

.out-most-cart-wrap{
    overflow: scroll;
}

.out-most-cart-wrap{
  position: absolute;
//   top: 0;
//   bottom:0;
//   left: 0;
  right: 0;
  overflow: hidden;
//   margin:auto;
  background: white;
  box-sizing: border-box;
  height: 100%;
//   width: 100vw;
  width: 400px;
  z-index: 900;

  animation: cart-slide 0.5s ease-in-out
}

.cart-header{
    display: flex;
    justify-content: space-between;

}

// ^we shall see how this part turns out