// Place all the styles related to the CartItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cart-product-outer-wrap{
    border-top: 1px solid lightgray;
    // border-bottom: 1px solid lightgray;
    width: 86%;
    padding: 15px
}

.indivi-cart-product-wrap{
    display: flex;
    // width: 100%;
}

.cart-product-basic-info{
    padding-left: 10px;
}

.prod-name{
    padding-top:3px
}

.cart-product-pic img{
    width: 90px;
    height: 120px;
}

.delete-item-wrap{
    color:red;
    font-size: 12px;
    font-weight: 500;
    padding-top: 5px;
}

.price-update-wrap{
    display: flex;  
    justify-content: space-between;
    padding-top:58px
}


.cart-product-updating {
    border: 1px solid lightgrey;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35%;
    font-size: 15px;
}

.cart-product-updating button{
    border: none;
    font-size: 15px;
    width:100%
}

#curr-quantity{
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

#prod-price{
    padding-top:3px;
}