// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.close-x-div-cart{
  margin-top: 14px;
  position: absolute;
  padding-left: 7px;
  padding-top: 7px;
  right: 20px
}

.close-x-cart{
  font-size: 25px;
  width: 100px;
  height: 100px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 1px;
  border-radius: 50%;
  color:black;
}

.close-x-cart:hover{
  background-color: lightgrey;
  cursor: pointer;
}


.out-most-cart-wrap{
  position: fixed;
  right: 0;
  overflow: scroll;
  background: white;
  box-sizing: border-box;
  height: 100%;
  width: 400px;
  z-index: 6;
  opacity: 1;

  animation: cart-slide 0.3s ease-in-out
}

.cart-header{
  font-size: 28px;
  padding-top: 23px;
  padding-bottom: 10px;
  padding-left: 15px;
}

// .cart-btm{
//   height: 100px;
// }


.out-most-cart-wrap{
  // overflow: scroll;
}

.cart-btm{
  padding:15px;
}

.ckout-link{
  text-decoration: none;
}
.ckout-btn{
  color:white;
  border-radius: 3px;
  background-color: #B0384C;
  font-size: 17px;
  height: 45px;
  width:100%;


  transition: all 0.5s ease-in-out;
}

.ckout-btn:hover{
  background-color: rgb(117, 31, 45);
  cursor: pointer;
}
// ^we shall see how this part turns out

.emptyCart{
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty-cart-para{
  color:gray;
  font-size: 110%;
  padding:3%;
}

.fa-shopping-bag{
  color:lightgrey;
  font-size: 350%;
  padding:3%;
}