
.top-logo{
    height: 10vh;
}

.bottom-logo{
    height: 5vh;
}

.yttp-footer-logo{
    height: 5vh;
}
.inner-footer{
    // height: 50px;
    // 
    // height: 10vh;
    background-color: #F6F6F6;
    border-top: 1px solid black;
    display: flex;
    justify-content: flex-start;

}

.contact-icon-holder{
    width: 50%;
    padding-top: 3%;
}

#icon{
    font-size: 50px;
    color:black;
    padding: 2%
}

#icon:hover{
    color: #D09263;
}
