// $('#elm').hover(
//        function(){ $(this).addClass('hover') },
//        function(){ $(this).removeClass('hover') }
// )

// .testing-hover{
//     display: none;
// }

.splash-mid-title{
    font-family: "Unica77 LL", sans-serif;
    font-size: 55px;
    line-height: 63.25px;
    text-align: center;
    letter-spacing: 0.64px;
    margin-bottom: 7%;
}

.outter-mid-wrapper{
    // padding-top: 20%;
    display:flex;
    flex-direction: column;
    // justify-content: center;
    align-content: center;
    // align-items: center;
    padding: 10% 10%
}
.outter-best-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.best-item-wrapper{
    // display:flex;
    // flex-direction: column;
}

.best-item-img img{
    width: 25vw;
}

// .best-item-pic-1{
//     background-image: image-url("https://youth-to-the-people-seeds.s3-us-west-1.amazonaws.com/superfood_cleanser/0.jpg");
//     transition: 0.5s ease;
// }

// .best-item-pic-1:hover{
//     background-image: image-url("https://youth-to-the-people-seeds.s3-us-west-1.amazonaws.com/superfood_cleanser/1.jpg");

// }


.best-item-title-wrap{
    margin-top: 5%;
}

.best-item-title{
    font-family: "Unica77 LL", sans-serif;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 0.64px;
}