.btn:hover{
    // background-position: left bottom;
    transition: all 1s ease;
    // translate: all 1s ease;
    text-decoration: underline;
    // text-decoration: underline;
    cursor: pointer;
}

.btn{
    text-decoration: none;
    height: 40px;
    border-radius: 3px;
    color: black
}

.submit-session{
    font-size: 13px;
}
.submit-session:hover{
    // background-position: left bottom;
    transition: all 1s ease;
    // translate: all 1s ease;
    // background-color:blue;
    text-decoration: underline;
    cursor: pointer;
}