.pic-set-wrap{
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.pic-1nd-row{
    width: 100%;
    display: flex;
    padding-bottom: 1%;
    justify-content: space-evenly;
    align-items: center;
}

.pic-2nd-row{
    width: 100%;
    display: flex;
    padding-bottom: 1%;
    // justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

[class *= bottom-pic-] {
    // display:block;
    // padding: 2%;
}

[class *= bottom-pic-] img{
    height: 55vh;
    border-radius: 2px;
}


