.session-form-div{
    margin-top: -300px;
    border: 1px solid green;
    padding: 50px;
}
.form-wrapper{
    border: solid 3px purple;
    box-sizing: border-box;
    padding:500px
}

// .form-wrapper{
//     border: solid 1px purple;
//     // display: block;
//     height: auto;
//     margin-top: 0;
//     // height: 566px;
//     // width: 522px;
//     // margin-top: 500px;
//     // padding: 30px 20px;
//     padding: 500px;
//     // align-items: center;
//     box-sizing: border-box;
// }