#hide{
    display: none;
}

.close-x{
    font-size: 20px;
    color:black;
}
.close-x:hover{
    cursor: pointer;
}

.background-form{
    display:flex;
    border: 1px solid white;
    border:1px solid black;
    border-radius: 3px;
    background-color:white;
    box-shadow: grey;
}
.session-form-box{
    display:flex;
    flex-direction: column;
    padding-bottom: 5px;
}

.session-form-div{
    padding: 30px;
    width: 505px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 3px;
}
.form-wrapper{
    box-sizing: border-box;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}

.form-label{
    color:black;
    padding-top: 5px;
    // padding-bottom: 5px;
    font-size: 15px;
    font-family: "Unica77 LL",sans-serif;
}

input{
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0;
    height: 32px;
    padding-left: 10px;
    width: 100%;
    background-color:#F7F7F7;
    // background-color: hsla(0, 0%, 100%, 0.5);
    border: none;
    border-radius: 1px;
}
.form-title{
    color:black;
    font-size:60px;
    margin-bottom: 60px;
    text-align: center;
    font-family: Dancing Script;
}

.session-link{
    text-decoration: none;
    font-size: 13px;
    color: black;
}
.session-link:hover{
    transition: all 1s ease;
    text-decoration: underline;
}

.submit-session{
    padding: 1%;
}

.submit-session p {
    height: 20px;
    padding: 2%;
    text-decoration: none;
    font-size: 13px;
    color: black;
    border-radius: 3px;
    text-align: center;
    border: 1px solid grey;
    font-family: "Unica77 LL",sans-serif;
    transition-duration: 0.5s;
}

.submit-session p:hover{
    background-color:#EA4B37 ;
    color:white;
    font-weight: bold;
}


// KEEP FOR HOVER REFERENCE
// .submit-session:hover{

//     background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
//     background-repeat: no-repeat;

// }


.error-text{
    color:black
}

.bottom-form{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    // padding-bottom: 5px;
}

