#hide{
    display: none;
}

.close-x{
    font-size: 20px;
    color:black;
}
.close-x:hover{
    cursor: pointer;
}

.background-form{
    display:flex;
    border: 1px solid white;
    // opacity: 50%;
    border-radius: 3px;
    background-color:white;
}
.session-form-box{
    display:flex;
    flex-direction: column;
}

.session-form-div{
    // margin-top: 150px;
    opacity: 100%;
    padding: 40px;
    width: 505px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 3px;
}
.form-wrapper{
    box-sizing: border-box;
    width: 100%;
    // height: 1000px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.form-label{
    color:black;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    font-family: Dancing Script
}

input{
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0;
    height: 32px;
    padding-left: 10px;
    width: 100%;
    background-color:#F7F7F7;
    // background-color: hsla(0, 0%, 100%, 0.5);
    border: none;
    border-radius: 1px;
}
.form-title{
    color:black;
    font-size:60px;
    // margin-bottom: 80px;
    text-align: center;
    font-family: Dancing Script;
}

.session-link{
    text-decoration: none;
    font-size: 13px;
    color: black;
}
.session-link:hover{
    transition: all 1s ease;
    text-decoration: underline;
}

.submit-session{
    height: 30px;
    margin-top: 10px;
    // padding: 10px;
    text-decoration: none;
    font-size: 13px;
    color: black;
    border-radius: 3px;
    text-align: center;
}

.submit-session:hover{
    // text-shadow: 0px -2px 0px rgba(0,0,0,1), 0 0 5px rgba(255,255,255,0.8),0 -4px 15px rgba(255,255,255,0.5);
    // background: rgba(150,250,250,0.5);
    // box-shadow: 0 0 10px rgb(10, 138, 138);
    // -webkit-transition: 2s ease;
    // text-decoration: underline;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    // background-size: 100% 0.2em;
    // background-position: 0 88%;
    // transition: background-size 0.25s ease-in;
    // &:hover {
    // background-size: 100% 88%;
//   }

}

// .underline--magical {
//   background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
//   background-repeat: no-repeat;
//   background-size: 100% 0.2em;
//   background-position: 0 88%;
//   transition: background-size 0.25s ease-in;
//   &:hover {
//     background-size: 100% 88%;
//   }
// }

// .submit-session:hover{
//     // background-position: left bottom;
//     transition: all 2s ease;
//     // translate: all 1s ease;
//     // background-color:blue;
//     text-decoration: underline;
//     cursor: pointer;

//     // animation: basic_button_hover 2s forwards;
// }

.error-text{
    color:black
}

.bottom-form{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 5px;
}

