.show-main-content{
    display: flex;
    justify-content: center;
    height: 100%;
}

.show-main-content-wrapper{
    margin-top: 3%;
    padding-left: 3%;
    width: 80%;
    display:flex;
}
.show-pic img{
    height: 518px;
    width: 100%;
}

.show-content-info-wrapper{
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    // align-items: center;
    // width:50%;
    height: 100%;
    border: 1px solid pink;
    padding: 13% 10%;
}

.show-info{
    // height: 80%;
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    align-content: flex-start;
    border: 1px solid blue
}

.show-basic-info{
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    // height: 40%;
}

.show-product-title{
    font-family: "Unica77 LL",sans-serif;
    font-size: 26px;
    padding: 2%
    // max-width: 30vw;
    // width:51%
}

.show-product-price{
    font-family: "Unica77 LL",sans-serif;
    font-size: 25px;
    padding: 2%
}

.show-product-description{
    max-width: 24vw;
    height: 100%;
    // width:51%;
    font-size: 15px;
    font-family: "Unica77 LL",sans-serif;
    line-height: 20px;
    padding: 2%;
}

.show-product-rating{
    padding: 2%;
    font-family: "Unica77 LL",sans-serif;
}

.show-info-btn{
    display: flex;
    justify-content: flex-start;
    // width: 75%;
    width: 100%;

}

.show-info-btn{
   border-top: 1px solid;
   border-bottom: 1px solid black;
//    width: 100%;
   border: 1px solid purple

}



.show-read-more{
    font-size:12px;
    font-family: "Unica77 LL",sans-serif;
    color:#A9A9A9;
    text-decoration: none;
    padding:2%;
     transition: all 0.3s ease-in-out;
}

.show-read-more:hover{
    color:#EA4B37
}

.show-add-to-cart{
    padding: 2%
}

.inner-show-info-btn{
    display: flex;
    justify-content: space-between;
    padding-left: 12%    
}


.show-share{
    padding-right: 10%;
}

.show-icon{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}


.fab ,.fa-facebook-square{
    font-size: 20px;
}
.fab ,.fa-twitter-square{
    font-size: 20px;
}
.fab ,.fa-pinterest-square{
    font-size: 20px;
}



