// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products-wrapper{
    height: 100%;
    border: 1px solid purple;
}

.inner-products-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-root {
    height: 100%;
    border: 1px solid red;
}
.products-wrapper{
    border: 1px solid blue;
}

.product-content{

}
// pic and info inside^
.product-pic{

}

.product-info{

}

// ^inside
.product-name{

}

.product-nums{

}
.product-show-btn{

}
