.show-main-content{
    display: flex;
    justify-content: center;
    // align-items: center;
    border: 1px solid green
}

.show-main-content-wrapper{
    margin-top: 3%;
    width: 80%;
    display:flex;
    justify-content: space-around;
    // align-items: center;
    border: 1px solid purple;
}
.show-pic img{
    height: 300px;
    width: 100%;
    border: 1px solid blue;
    // background-color: blue;
}

.show-content-info-wrapper{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
}

.show-info{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid yellow;
}

.show-basic-info{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
}

.show-info-btn{
    display: flex;
    // flex-direction: row;
    justify-content: space-between;
    width: 100%
}