
.show-main-content{
    display: flex;
    justify-content: center;
    height: 100%;
}

.show-main-content-wrapper{
    margin-top: 3%;
    padding-left: 3%;
    width: 80%;
    display:flex;
}


.show-content-info-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-top: 13%;
    // padding-left: 3%;
    // padding-right: 20%;
    // margin-right: 15%;
}

.show-info{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.show-basic-info{
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    // height: 40%;
}

.show-product-title{
    font-family: "Unica77 LL",sans-serif;
    font-size: 26px;
    padding: 2%
    // max-width: 30vw;
    // width:51%
}

.show-product-price{
    font-family: "Unica77 LL",sans-serif;
    font-size: 25px;
    padding: 2%
}

.show-product-description{
    max-width: 24vw;
    height: 100%;
    font-size: 15px;
    font-family: "Unica77 LL",sans-serif;
    line-height: 20px;
    padding: 2%;
}

.show-product-rating{
    padding: 2%;
    font-family: "Unica77 LL",sans-serif;
}

// .show-info-btn{
//     display: flex;
//     justify-content: flex-start;
//     // width: 75%;
//     width: 100%;

// }

.show-info-btn{
   border-top: 1px solid;
   border-bottom: 1px solid black;
   padding-top: 2%;
   padding-bottom: 2%;

}



.show-read-more{
    font-size:12px;
    font-family: "Unica77 LL",sans-serif;
    color:#A9A9A9;
    text-decoration: none;
    padding:2%;
    transition: all 0.3s ease-in-out;
}

.show-read-more:hover{
    color:#EA4B37
}

.show-add-to-cart{
    padding: 2%
}

.show-add-to-cart-btn{
    background-color: #ef4b24;
    border-radius: 3px;
    color: #ffffff;
    width: 50%;
    height: 35px;
    font-family: "Unica77 LL", sans-serif;
    font-size: 12px;
    line-height: 18.4px;
    letter-spacing: 0.64px;
    text-align: start;
    padding-left: 17px;

    transition: 250ms ease-in-out;
}

.show-add-to-cart-btn:hover{
    background-color: rgb(226, 70, 53)
}


.inner-show-info-btn{
    display: flex; 
    // padding: 2%; 
    // width: 100%
}


.show-share{
    // padding-right: 5%;
    width: 50%;
    // border: 1px solid purple
}

.show-icon{
    display:flex;
    flex-direction: row;
    // justify-content: space-between;
    width: 100%;
    // border:1px solid blue

}


.fab ,.fa-facebook-square{
    font-size: 30px;
    // padding-top: 2%;
    padding-right: 7%;
}

.fab ,.fa-facebook-square:hover{
    cursor: pointer;
}

.fab ,.fa-twitter-square{
    font-size: 20px;
}
.fab ,.fa-pinterest-square{
    font-size: 20px;
}

.show-pic img{
    // height: 100%;
    width: 100%;
}
.carousel-holder{
    display: flex;
    // height: 100%;
}

.arrow-holder:hover{
    cursor: pointer;
}

.right-arrow{
    margin-top: 60vh;
    padding-left: 20%;
    height: 15px;
    width: 10px;
}

.left-arrow{
    margin-top: 60vh;
    padding-right: 20%;
    height: 15px;
    width: 10px;
}

.large-photo{
    // height: 50%;
    // height: 75%;
    width: 80%;
}

.photos-url-holder{
    // height: 100px;
    // width: 100px;
    height: 5%;
    width: 5%;
    // overflow: hidden;
    padding: 1%
    // padding-right: 2%;
}

.url-div{
    height: 25%;
    width: 100%;
    border-radius: 100%;
    // border:1px solid red;
    overflow: hidden;
}

.url-div:hover{
    cursor: pointer;
}



